.idea

public/assets/*
public/.cache/
public/mix-manifest.json
public/storage
public/images/
public/*.js
public/*.png
public/*.gz

storage/*.key

node_modules
vendor

.env
.env.backup
.env.example
.editorconfig
.phpunit.result.cache

*.DS_Store
debug.log

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
composer.lock




public/appcache/
