.navbar {
  margin-top: $safe-area-top;
  width:      $full-width;
  z-index:    1030;

  &-wrapper {
    align-items: center;
    display:     flex;
  }

  &-text {
    color: $white;
  }

  .icon {
    filter:      drop-shadow(0 3px 5px rgba(0, 0, 0, .7));
    margin-left: -5px;
  }

  .navbar-brand {
    color:          $white;
    font-size:      $font-paragraph;
    padding-bottom: .3125rem;
    padding-top:    .3125rem;
    position:       relative;
    text-shadow:    0 3px 6px rgba(0, 0, 0, .6), 0 3px 6px rgba(0, 0, 0, .65);
    text-transform: capitalize;

    span {
      font-weight: $font-weight-bold;
    }

    &:hover, &:active, &:focus {
      color: $opacity-8;
    }
  }
}

